MONGO_URI=mongodb://mongodb:27017
MONGO_DB=cti
TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_CHAT_ID=replace_me
DISCORD_WEBHOOK_URL=replace_me
NVD_API_KEY=replace_me
OTX_API_KEY=replace_me
HIBP_API_KEY=replace_me
VIRUSTOTAL_API_KEY=replace_me
ABUSEIPDB_API_KEY=replace_me
